.info {
  color: #fff;
  background: #2898bc;
}

.info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.card {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.card:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
